{% extends "petfind/base.html" %}

{% block content %}
    <div>
        <h1>Welcome to Petfinder!</h1>
    </div>

    <div>
    	<h2>What kind of animal are you looking for?</h2>
        <h3><a href="{% url 'petfind.views.cats' %}"><button type="button" 
        class="btn btn-info btn-large">Cats</button></a>
        <a href="{% url 'petfind.views.reddit_pets' %}"><button type="button" 
        class="btn btn-info btn-large">Go to Cat Reddit!</button></a>
        
        </h3> 
        
        <h3><a href="{% url 'petfind.views.dogs' %}"><button type="button" 
        class="btn btn-info btn-large ">Dogs</button></a></h3>
        
        <h3><a href="{% url 'petfind.views.unique' %}"><button type="button" 
        class="btn btn-info btn-large">Unique Animals</button></a></h3>
    </div>
{% endblock content %}